@import "https://cdn.cubing.net/css/@cubing/icons";

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, Roboto, Ubuntu, Tahoma, sans-serif;
  font-size: 1.1rem;

  --background-color: white;
  background-color: var(--background-color);
  --text-color: black;
  color: var(--text-color);

  --thick-border: 3px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --accent-color: #4285f4;
  --translucent-accent-color: #4285f466;
  /* blue (default) */
}

body.orange {
  --accent-color: #f95b2a;
  --translucent-accent-color: #f95b2a66;
}

body.green {
  --accent-color: #0d904f;
  --translucent-accent-color: #0d904f66;
}

body.red {
  --accent-color: #ce2e20;
  --translucent-accent-color: #ce2e2066;
}

.header {
  align-self: stretch;
  background: var(--accent-color);
  padding: 0.5em;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.header a:hover {
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.content {
  width: 100%;
  max-width: 40em;
  padding: 0 2em 4em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #000D;
    --text-color: #EEE;
  }

  a {
    color: #669df5;
  }

  a:visited {
    color: #af73d5;
  }
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid var(--text-color);
  padding: 0.3em 0.4em;
  text-align: right;
  white-space: nowrap;
}

thead td {
  text-align: center;
  font-weight: bold;
  border-bottom-width: var(--thick-border);
  background-color: var(--translucent-accent-color);
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

thead,
td:nth-child(3) {
  font-weight: bold;
}

tbody td:nth-child(4),
tbody td:nth-child(5),
tbody td:nth-child(6),
tbody td:nth-child(7),
tbody td:nth-child(8),
tbody td:nth-child(9) {
  font-size: 0.75em;
}

@media (min-width: 45rem) {

  body.toggle-attempts td:nth-child(5),
  body.toggle-attempts td:nth-child(6),
  body.toggle-attempts td:nth-child(7),
  body.toggle-attempts td:nth-child(8),
  body.toggle-attempts td:nth-child(9) {
    display: none;
  }

  .narrow-only {
    display: none;
  }
}


@media (max-width: 45rem) {

  body:not(.toggle-attempts) td:nth-child(5),
  body:not(.toggle-attempts) td:nth-child(6),
  body:not(.toggle-attempts) td:nth-child(7),
  body:not(.toggle-attempts) td:nth-child(8),
  body:not(.toggle-attempts) td:nth-child(9) {
    display: none;
  }
}


.cubing-icon {
  font-size: 2em;
}

.cubing-icon.large {
  font-size: 4em;
}

.center {
  text-align: center;
}
