<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf8" />
  <title>
    Unofficial Cubing — CubingUSA Nationals 2023 — 3x3x3 Team Blindfolded
  </title>
  <link rel="stylesheet" href="/style.css" />
  <script src="/index.js" type="module"></script>
  <!-- From: https://github.com/lgarron/minimal-html-style (v1.0.0) -->
  <meta name="viewport" content="width=device-width, initial-scale=0.75" />
  <link rel="apple-touch-icon" href="/img/icon_320w.png" />
  <meta property="og:image" content="https://unofficial.cubing.net/img/social-media-banner.png" />
</head>

<body>
  <div class="header">
    <div>
      <span class="cubing-icon event-333 skew"></span><a href="/">Unofficial Cubing</a> —
      <a href="../" class="template-textContent-competition-name">———</a>
    </div>
  </div>
  <div class="content">
    <h3>
      <span class="cubing-icon event-333bf large template-class-event-icon-class"></span><br /><span
        class="template-textContent-event-name">———</span><br /><br />Round format:
      <span id="round-format" class="template-textContent-round-format">———</span>
    </h3>
    <div class="narrow-only center">
      <button id="toggle-full-info">Toggle full information</button>
      <br />
      <br />
    </div>
    <table class="results num-attempts-3 ranked-by-best template-class-num-attempts">
    </table>
  </div>
</body>

</html>
